@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Register Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="border-start border-5 border-success ps-5 mb-5" style="max-width: 600px;">
                    <h1 class="display-5 text-uppercase mb-0">Register</h1>
                </div>
                <form asp-action="Index" asp-controller="Register" method="post">
                    <div class="row g-3">
                        <div class="row container-fluid">
                            <div class="col-6">
                                <label>First Name</label>
                                <input name="firstName" value="@(ViewBag.basicInf.FirstName)" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" pattern="[A-Za-z ]+" title="First Name can contains upper and lowercase character only." required>
                            </div>
                            <div class="col-6">
                                <label>Last Name</label>
                                <input name="lastName" value="@(ViewBag.basicInf.LastName)" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" pattern="[A-Za-z ]+" title="Last Name can contains upper and lowercase character only." required>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Username</label>
                            <input name="username" value="@(ViewBag.basicInf.Username)" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" pattern="[a-z0-9]+\w{4,16}" title="Username can only contain 5 to 16 lowercase letters and numbers." required>
                            @{
                                if (ViewBag.registerUsernameErr != null)
                                {
                                    <span style="color: red; font-style: italic">*@(ViewBag.registerUsernameErr)</span>
                                }
                            }
                        </div>
                        <div class="col-12">
                            <label>Email</label>
                            <input name="email" value="@(ViewBag.basicInf.Email)" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" pattern="[a-zA-Z0-9._%+\-]+@@[a-z0-9.\-]+\.[a-z]{2,}$" title="Example: name@mail.com" required>
                        </div>
                        <div class="col-12">
                            <label>Password</label>
                            <input name="password" type="password" class="form-control bg-light border-0 px-4" style="height: 55px;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        </div>
                        <div class="col-12">
                            <label>Confirm Password</label>
                            <input name="confirmPassword" type="password" class="form-control bg-light border-0 px-4" style="height: 55px;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        </div>
                        @{
                            if (ViewBag.registerPassErr != null)
                            {
                                <span style="color: red; font-style: italic">*@(ViewBag.registerPassErr)</span>
                            }
                        }
                        <div class="col-12">
                            <button class="btn btn-success w-100 py-3" type="submit">Register</button>
                        </div>
                        <div class="col-12 text-center">
                            <label>Or</label>
                        </div>
                        <div class="col-12">
                            <a href="/Login" class="btn btn-outline-success w-100 py-3">Login</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
<!-- Register End -->
