@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<div class="row" style="margin-top: 100px">
    @{
        if (ViewBag.prdDetails != null)
        {
            <div class="col-md-5">
                <img style="border-radius: 30px" src="~/WebStorage/Images/ProductImages/@(ViewBag.prdDetails.Image)" width="450" alt="alt" />
            </div>
            <div class="col-md-7">
                <h2>@(ViewBag.prdDetails.ProductName)</h2>
                <div style="text-align: justify">
                    <p>@Html.Raw(ViewBag.prdDetails.Description)</p>
                </div>
                <h3>@(ViewBag.prdDetails.GetFormattedPrice()) VND</h3>
                <form method="post" asp-action="addToCart" asp-controller="Cart">
                    <input type="hidden" name="productID" value="@(ViewBag.prdDetails.ProductId)" />
                    <input type="hidden" name="currentPage" value="/Product/Details/@(ViewBag.prdDetails.ProductId)" /><br>
                    <button class="btn btn-success" type="submit"><i class="bi bi-cart"></i> Add to cart</button>
                </form>
            </div>
        }
    }
</div>

