@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<div class="col-md-12 content" style="margin-top: 50px">
    <div class="row gy-3">

        @{
            foreach (var prd in ViewBag.prdList)
            {
                <div class="col-md-3">


                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <div class="pb-5">
                            <div class="product-item position-relative bg-light d-flex flex-column text-center" style="height: 400px; position: relative;">
                                <img class="img-fluid mb-4" style="height: 250px" src="~/WebStorage/Images/ProductImages/@(prd.Image)" alt="Product Image">
                                <h6 class="text-uppercase">@(prd.ProductName)</h6>
                                <h5 class="text-success mb-0" style="bottom: 30px; right: 0; left: 0; text-align: center; position: absolute">@(prd.GetFormattedPrice()) @(ViewBag.currencyUnit) VND</h5>
                                <input type="hidden" name="productId" value="@(prd.ProductId)" />
                                <input type="hidden" name="currentPage" value="/Product" />
                                <div class="btn-action d-flex justify-content-center">
                                    <button type="submit" style="margin: 0px 5px" class="btn btn-success py-2 px-3"><i class="bi bi-cart"></i></button>
                                    <a style="margin: 0px 5px" class="btn btn-success py-2 px-3" href="/Product/Details/@(prd.ProductId)"><i class="bi bi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
        }

    </div>
</div>

