@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GetCode";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<!-- Enter Code Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="border-start border-5 border-success ps-5 mb-5" style="max-width: 600px;">
                    <h1 class="display-5 text-uppercase mb-0">Nhập mã xác nhận</h1>
                </div>
                <form asp-action="SetNewPass" asp-controller="ForgotPassword" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label>Email</label>
                            <input value="@(TempData["email"])" name="email" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" readonly>
                        </div>
                        <div class="col-12">
                            <label>Mã xác nhận</label>
                            <input name="code" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" required>
                            @{
                                if (TempData["incorrectCodeErr"] != null)
                                {
                                    <span style="color: red; font-style: italic">*@(TempData["incorrectCodeErr"])</span>
                                }
                            }
                        </div>
                        <div class="col-12">
                            <button class="btn btn-success w-100 py-3" type="submit">Đặt lại mật khẩu</button>
                        </div>
                        <div class="col-12 text-center">
                            <label>Hoặc</label>
                        </div>
                        <div class="col-12">
                            <a href="/Login" class="btn btn-outline-success w-100 py-3">Đăng nhập</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
<!-- Enter Code End -->

