<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    @* Style *@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css"></link>
</head>
<body>
    
    @* Header *@
    <div class="row container-fluid">

    </div>

</body>
</html>